<p-toast></p-toast>
<form
  [formGroup]="createUserForm"
  (ngSubmit)="onCreateUser()">
  <div class="form-group">
    <label>Name</label>
    <input type="text"
           class="form-control"
           id="name"
           placeholder="Enter a name"
           formControlName="name">
    <span class="help-block"
          *ngIf="!createUserForm.get('name').valid && createUserForm.get('name').touched">
            The name is mandatory</span>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email"
           class="form-control"
           id="email"
           aria-describedby="emailHelp"
           placeholder="Enter email"
           formControlName="email"
           email>
    <span class="help-block"
          *ngIf="!createUserForm.get('email').valid && createUserForm.get('email').touched">
        <span *ngIf="createUserForm.get('email').errors?.email">
            The email format is invalid
        </span>
        <span *ngIf="!createUserForm.get('email').errors?.email">
            The email is mandatory
        </span>
  </span>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text"
           class="form-control"
           id="lastName"
           placeholder="lastName"
           formControlName="lastName">
    <span class="help-block"
          *ngIf="!createUserForm.get('lastName').valid && createUserForm.get('lastName').touched">
        <span *ngIf="!createUserForm.get('lastName').errors?.lastName">
            The lastName is mandatory
        </span>
  </span>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control"
              id="description"
              placeholder="Description"
              formControlName="description"> </textarea>
  </div>
  <div class="pt-4 d-flex justify-content-center">
    <button type="submit"
            [disabled]="!createUserForm.valid"
            class="btn btn-success mg-4 mx-2">
      <span *ngIf="isLoading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true">
      </span>
      <span *ngIf="!isLoading">
        Save</span>
    </button>
    <button type="button" class="btn btn-danger mg-4 mx-2" (click)="onCanelForm()">Cancel</button>
  </div>
</form>
