<app-header
  (galleryClick)="onGalleryClick($event)"
  (recipeClick)="onRecipeClick($event)"
  (shoppingListClick)="onShoppingListClick($event)">
</app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-gallery [inputDelHijo]="variableDelPadre" (eventoClickDelHijo)="capturaElEventoDelHijo($event)"
                   *ngIf="showGalery"></app-gallery>
      <app-recipes *ngIf="showRecipe"></app-recipes>
      <app-shopping-list *ngIf="showShoppingList"></app-shopping-list>
    </div>
  </div>
</div>
