<p-splitButton label="Info"
               [model]="items"
               styleClass="p-button-rounded p-button-info mr-2 mb-2"></p-splitButton>
<div class="container pt-5">
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-table [paginator]="true"
           [rows]="20"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10, 25, 50]"
           [loading]="isLoading"
           [value]="recipes"
           styleClass="p-datatable-gridlines"
           [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-end flex-wrap gap-3 ">
        <button class="btn btn-info"
                (click)="OpenCreateRecipe()">
          Add new recipe
        </button>

      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recipes>
      <tr>
        <td>
          <p-tableCheckbox [value]="recipes"></p-tableCheckbox>
        </td>
        <td>{{ recipes.id }}</td>
        <td>{{ recipes.name }}</td>
        <td>{{ recipes.description }}</td>
        <td>
          {{ recipes?.ingredients && recipes.ingredients.length ? recipes.ingredients.length : 'Esta receta no tiene ingredientes' }}
        </td>
        <td class="d-flex">
          <i class="pi pi-trash mg-4 mx-2" (click)="deleteRecipe(recipes.id)" style="cursor: pointer"></i>
          <i class="pi pi-pencil mg-4 mx-2" (click)="openModalUpdateRecipe(recipes.id)" style="cursor: pointer"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
    </ng-template>
    <ng-template pTemplate="paginatorright">
    </ng-template>
  </p-table>
</div>


