<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <h6 class="text-center">Add Shopping List</h6>
        <div class="col-sm form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #name required>
        </div>
        <div class="col-sm form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amount required>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" (click)="addShoppingList()">Add Recipe</button>
            <button class="btn btn-danger" type="button">Delete Recipe</button>
            <button class="btn btn-primary" type="button">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
